.form {
  position: relative;
  top:20px;
  left: 15%;
  width: 70%;
  background-color: rgb(254, 254, 254);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 20px;
    width: 50%;
    span {
      display: block;
    }
    input {
      width: 70%;
    }
    overflow: hidden;
  }
}

.form-btn-right{
    
    .submit{
        width: 50px;
        background-color: green;
        font-weight: 600;
        color: #fff;
        border-radius: 4px;
    }
}
